*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: right;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 500px;
    margin: 0 auto;
}
/**********/
#open-form-button{
    width: 100%;
    background: rgb(200, 100, 255);
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    margin: 10px 0;
}
#form-section{
    width: 100%;
    padding: 5px 10px;
    background: rgb(220, 220, 220);
    border-radius: 5px;
}
#form-section #from-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
#form-section form{
    padding: 15px 10px;
}
.block-input{
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid rgb(190, 190, 190);
    outline: none;
    border-radius: 5px;
}
#form-section form .notification{
    margin: 20px 0;
    text-align: center;
}
button#register{
    width: 100%;
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
/******/
.isMarried, .isChildren{
    display: none;
}
.op{
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 30px; 
    cursor: pointer;
    border-radius: 5px;
}
#plus{
    background-color: green;
}
#minus{
    background-color: red;
}


.display-form{
    display: none;
}